@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --cream: #f0d9cc;

  --coral: #e8563a;
  --coral-dark: #d24a30;
  --coral-soft: #fdd0c4;
  --linen: #faf0e6;
  --ink: #3d3d3d;

  --brown-soft: #c27a5a;

  --gold: #fbbf24;
  
  --locked: #d1d5db;
  --locked-icon: #6b7280;
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: var(--cream);
  --color-coral: var(--coral);
  --color-coral-dark: var(--coral-dark);
  --color-coral-soft: var(--coral-soft);
  --color-linen: var(--linen);
  --color-ink: var(--ink);
  --color-brown-soft: var(--brown-soft);
  --color-gold: var(--gold);
  --color-locked: var(--locked);
  --color-locked-icon: var(--locked-icon);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-custom: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
